/* body */
html,body{ height:100%; }

body {
	font-style: ;
}
body * {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition:all 0.3s ease;
}

/* nav */
.navbar-default {
	background-color: transparent;
	border-color: lightgreen;
}
.navbar-default .navbar-brand {
	color:lightgreen;
	font-size: 20px;
	height: 60px;
  padding: 18px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: green;
  background-color: transparent;
}

.navbar-default .navbar-header span,
.navbar-default .navbar-header i { color:lightgreen; }
.navbar-default .navbar-nav>li>a {
	color:lightgreen;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: green;
    background-color: transparent;
}
@media (min-width: 768px){
	.navbar-default .navbar-nav>li>a {
		padding:18px;
		line-height: 25px;
	}
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: green;
  background-color:lightgreen;
}
.navbar-default .navbar-toggle {
  border-color: lightgreen;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: green;
}
.navbar-default .navbar-toggle .icon-bar {background-color: lightgreen;}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color:transparent; }
	@media (max-width:767px) {
		.navbar-collapse {

			webkit-box-shadow: none;
			moz-box-shadow: none;
		  box-shadow: none;
		}
	}

.nav-solid {
	background-color: #555;
	border-color: lightgreen;
	min-height: 50px;
}
.nav-solid.navbar-default .navbar-brand {
	color:lightgreen;
	font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.dropdown-menu {
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
	color: green;
  white-space: nowrap;
}
dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color:green;
  text-decoration: none;
  background-color:lightgreen;
}
	@media (max-width:767px) {
		.navbar-default .navbar-nav .open .dropdown-menu>li>a {
			color:lightgreen;
		}
	}
/* nav */

/* header */
header {
	height:100%;
	background: url(../img/header.jpg) no-repeat center center;

	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header h1 { color:#eee; font-size: 290%; font-weight: 700; }
header hr {	max-width:50px; margin:30px auto; border: 2px solid lightgreen; }
header p { color:#ddd; font-size:170%; }

#down-btn span {
	position:absolute;
	top:90%;

	left: -moz-calc(50% - 20px); /* Firefox */
	left: -webkit-calc(50% - 20px); /* WebKit */
	left: -o-calc(50% - 20px); /* Opera */
	left: calc(50% - 20px); /* Standard */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	padding:10px 9px 9px 10px;
	color:lightgreen;
	border:2px solid lightgreen;
}
/* header */

/* section */
section { min-height:100%; background-color:; border-top:3px solid #555;}
section h1, section h2 { color:#333; }
section hr { border: 2px solid #333; }
section p { color:#333; }
#services { }
#services .service {
	min-width:200px;
	min-height:180px;
	margin:10px;

}

#services .service p { margin:0; color:#444; }
#services .icon { margin-bottom:20px; color:lightgreen;}
#about {  }
#about .content .text-box p {text-align: left; font-size:140%;}
	@media (max-width:767px) {
		#about .content .text-box p {font-size:120%;}
	}
#social { }
#contact {  min-height:auto; }
#contact h2, #contact p { color:#333; }
#contact a {
	width:74px;
	padding:10px;
	margin-bottom:10px;
	background-color: lightgreen;
	border:1px solid transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

}
#contact a i { margin:5px; color:#fff; }

/* section */

/* content */
.content { position:relative; height:100%; margin:0 3%; text-align:center; padding:50px 0; }
.content h1 { font-size: 290%; font-weight: 700; }
.content h2 { font-size: 250%; font-weight: 700; }
.content hr { max-width:50px; margin:30px auto;}
.content p { font-size:170%; }
/* content */

/* footer */
footer { color:#fff; background-color: #333; padding:20px 0; }
footer .content {padding:0;}
footer .content p {
	font-size:90%;
	margin:0;
	padding-top:10px;
}
footer .content a {color:#fff; padding:10px;}
/* footer */