html {
	height:100vh;
	background: url(../img/header.jpg) no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	height: 100%;
	background-color: transparent;
	font-family: 'Slabo 27px', serif;
}
.main-content {
	height: 100%;
}

h1.name { font-size:350%; color:#fff; text-align:center; display: block;}
h2.title { font-size:290%; color:#fff; text-align: center; display: block;}
li.option { font-size:210%; text-align: left;}
p.click {
	position: absolute;
	bottom: 0;
  right: 0;
  margin: 0;
	padding: 10px 40px;
	font-size: 20px;
	display: block;
}
	@media (max-width: 768px) {
		h1.name { font-size:40px; }
		h2.title { font-size:30px; }
		li.option { font-size: 20px; }
	}

#contact-info {	margin: 40px 0; }
#contact-info p {
	color:#fff;
	font-size:20px;
}
#contact-info a:hover { text-decoration: none; }
#contact-info i {
	padding:20px;
	background-color: #486F88;
	color:#fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#contact-info i:hover,
#contact-info i:focus,
#contact-info i:active { background-color: #123752;}

footer p { text-align: center; color:white; }